services:
  db:
    image: mysql:8.0
    container_name: image_db_container
    restart: always
    environment:
      MYSQL_DATABASE: image_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: image_backend_container
    restart: always
    environment:
      DB_HOST: db        # 指向 db 服务
      DB_NAME: image_db
      DB_USER: root
      DB_PASSWORD: root
    volumes:
      - ./backend/media:/app/media  # 挂载本地 media 目录，防止图片丢失
      - ./backend/static:/app/static # 挂载静态资源
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: image_frontend_container
    restart: always
    ports:
      - "8080:80"  # 将宿主机的 8080 映射到容器的 80
    volumes:
      - ./backend/media:/app/media  # Nginx 需要读取这个目录来展示图片
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge