Django>=4.2
djangorestframework
djangorestframework-simplejwt
PyJWT
mysqlclient
Pillow
pillow-heif
django-filter
django-cors-headers
torch           # AI 部分
deep-translator
transformers
tokenizers
jieba